<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <ul class="footer-menu">
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">FAQ</a>
            </li>
            <li>
              <a href="">Support</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="language">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" hidden>
                  <a class="dropdown-item" href="#"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>