@import '../../styles';
footer {
  border: 1px solid $bg-gray-border;
  padding: 1rem 0;
  .btn {
    @include button (1rem, $bg-gray-border, $bg-gray, 600, 2rem);
    text-transform: uppercase;
    float: right;
  }
  .btn:focus {
    @include box-shadow (0, .5rem, 2rem, $shadow-color);
  }
  .footer-menu {
    margin-top: .5rem;
    margin-bottom: 0;
  }
  .footer-menu li {
    display: inline;
    padding-right: 2rem;
  }
  .footer-menu li a {
    color: $bg-gray;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-menu li a:hover {
    text-decoration: none;
  }
}

@media (max-width: 411px) {
  footer {
    text-align: center;
    .btn {
      float: none;
    }
    .language {
      margin-top: 1rem;
    }
  }
}
