@import '../../styles';
.navbar {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  .nav-link {
    color: $bg-white;
    text-transform: uppercase;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    @include box-shadow(0, 0.1rem, 3.1rem, $shadow-color);
    text-align: center;
  }
}
