<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="../favicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

</head>

<body>
  <app-navbar></app-navbar>

  <section id="welcome" class="bg_bottom-light bg_bottom-white">
    <div class="container h-100">
      <div class="row h-75 h-sm-50 align-items-center">
        <div class="col-md-12">
          <h1>Simple, safe
            <br> & beautiful.</h1>
          <p>With
            <b>HeyU</b>, you'll get fast, simple, secure messaging!</p>
          <div class="download-button">
            <a href="#" class="btn-welcome">Download now</a>
          </div>
        </div>
        <div class="thumb-welcome d-none d-sm-block">
          <img src="../../assets/img/img-header.png" class="img-fluid" alt="Welcome image">
        </div>
      </div>
    </div>
  </section>

  <div id="simple-messaging">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-md-6">
          <img src="../../assets/img/easy-messaging.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
          <h1>Easy Messaging
            <span>.</span>
          </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="keep-in-touch">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-md-6">
          <h1>Keep in touch
            <span>.</span>
          </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/img/keep-in-touch.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <section id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-section">
            <h1>What People Say
              <span>.</span>
            </h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonials-box">
            <p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim </p>
            <a href="#">Booking.com</a>
          </div>
          <div class="user-profile">
            <div class="img-profile">
              <img src="../assets/img/profile1.png" class="rounded-circle" alt="">
            </div>
            <div class="user-profile-inf">
              <div class="user-profile-title"></div>
              <h5>John Doe</h5>
              <p>CEO</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonials-box-active">
            <p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim </p>
            <a href="#">Airbnb</a>
          </div>
          <div class="user-profile-active">
            <div class="img-profile">
              <img src="../assets/img/profile2.png" class="rounded-circle" alt="">
            </div>
            <div class="user-profile-inf">
              <h5>John Doe</h5>
              <p>CEO</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonials-box-two">
            <p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim </p>
            <a href="#">Symu.co</a>
          </div>
          <div class="user-profile">
            <div class="img-profile">
              <img src="../assets/img/profile1.png" class="rounded-circle" alt="">
            </div>
            <div class="user-profile-inf">
              <h5>John Doe</h5>
              <p>CEO</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="video-features">
    <div class="bg-gradient">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-md-4">
            <div class="media text-right">
              <div class="media-body">
                <h5 class="mt-0">Start conversation</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
              <img class="align-self-start ml-3" src="../assets/img/icons/message.png" alt="Conversation">
            </div>
            <div class="media">
              <div class="media-body text-right">
                <h5 class="mt-0">Make a free call</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
              <img class="align-self-start ml-3" src="../assets/img/icons/phone.png" alt="Free call">
            </div>
          </div>
          <div class="col-md-4 text-center">
            <img src="../assets/img/iphone.png" class="img-fluid d-none d-sm-block" alt="">
          </div>
          <div class="col-md-4">
            <div class="media">
              <img class="align-self-start mr-3" src="../assets/img/icons/picture.png" alt="Take a picture">
              <div class="media-body">
                <h5 class="mt-0">Take a picture</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
            </div>
            <div class="media">
              <img class="align-self-start mr-3" src="../assets/img/icons/video.png" alt="Send your video">
              <div class="media-body">
                <h5 class="mt-0">Send your video</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Subscribe to our newsletter
            <span>.</span>
          </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
          </p>
        </div>
        <div class="col-md-6 offset-md-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your email address" aria-label="Your email address" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn-sub" type="button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="download-app">
    <div class="container">
      <div class="app-icon">
        <img src="../assets/img/app-icon.png" class="img-fluid" alt="App icon">
      </div>
      <h1>Download the app
        <span>.</span>
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
      <div class="app-store">
        <a href="#">
          <img src="../assets/img/apple-store.png" class="img-fluid" alt="App store">
        </a>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
