@import '../styles';
body {
  overflow: hidden;
}

/* WELCOME */

#welcome {
  height: 950px;
  position: relative;
  margin-top: -71px;
  background: linear-gradient(180deg, $bg-primary-color, $bg-seconday-color);
  h1 {
    @include font-title (4rem, $bg-white, 900);
  }
  p {
    @include p (1.2rem, $bg-white, normal);
  }
  .thumb-welcome {
    position: absolute;
    right: 9.3rem;
    bottom: 0;
    z-index: 999;
    width: 35%;
  }
  .btn-welcome {
    @include button (1rem, $bg-white, $bg-primary-color, 600, 2rem);
    padding: 1.2rem 4rem;
  }
  .download-button {
    margin-top: 5rem;
  }
  .btn-welcome:hover {
    @include box-shadow(0, 18px, 32px, rgba(0, 0, 0, 0.2));
    text-decoration: none;
  }
}

.bg_bottom-light:after,
.bg_bottom-white:after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: -50px;
  height: 320px;
  width: 130%;
  background-color: $bg-white;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 10;
}

/* MESSAGING */

#simple-messaging,
#keep-in-touch {
  position: relative;
  z-index: 999;
  h1 {
    @include font-title (3rem, $bg-gray, 900);
  }
  p {
    @include p (1rem, $bg-gray-light, normal);
  }
  span {
    color: $bg-primary-color;
    margin-left: .1rem;
  }
}

#keep-in-touch {
  padding-bottom: 5rem;
}

/* TESTIMONIALS */

#testimonials {
  h1 {
    @include font-title (3rem, $bg-gray, 900);
    text-align: center;
    padding: 3.5rem 0;
  }
  p {
    @include p (1rem, $bg-gray-light, italic);
  }
  a {
    color: $bg-primary-color;
    font-weight: 700;
    font-size: 1.1rem;
  }
  a:hover {
    text-decoration: none;
  }
  span {
    color: $bg-primary-color;
  }
  .testimonials-box,
  .testimonials-box-two {
    border: 1px solid #e8e8e8;
    padding: 2.5rem;
    margin: 3rem 0 2rem;
  }
  .testimonials-box-active {
    padding: 2.5rem;
    margin-bottom: 5rem;
    @include box-shadow(0, 1.8rem, 3.1rem, $shadow-color);
  }
  .user-profile-active,
  .user-profile {
    display: inline;
    .img-profile {
      float: left;
      margin-right: 1.5rem;
    }
    p {
      font-style: normal;
      margin-top: .5rem;
    }
  }

  // Não sei a forma "fácil" de arruamr no responsivo.
  // .testimonials-box::before {
  //   content: '';
  //   border: solid transparent;
  //   height: 0;
  //   width: 0;
  //   border-width: 12px;
  //   border-top-color: #e8e8e8;
  //   position: relative;
  //   top: 13.31rem;
  //   left: 0px;
  // }
  // .testimonials-box::after {
  //   content: '';
  //   border: solid transparent;
  //   height: 0;
  //   width: 0;
  //   border-width: 10px;
  //   border-top-color: $bg-white;
  //   position: relative;
  //   top: 4.563rem;
  //   left: -6.688rem;
  // }
  // .testimonials-box-two::before {
  //   content: '';
  //   border: solid transparent;
  //   height: 0;
  //   width: 0;
  //   border-width: 12px;
  //   border-top-color: #e8e8e8;
  //   position: relative;
  //   top: 13.31rem;
  //   left: 0px;
  // }
  // .testimonials-box-two::after {
  //   content: '';
  //   border: solid transparent;
  //   height: 0;
  //   width: 0;
  //   border-width: 10px;
  //   border-top-color: $bg-white;
  //   position: relative;
  //   top: 4.563rem;
  //   left: -4.188rem;
  // }
  // .testimonials-box-active::before {
  //   content: '';
  //   border: solid transparent;
  //   height: 0;
  //   width: 0;
  //   border-width: 12px;
  //   border-top-color: $bg-white;
  //   position: relative;
  //   top: 213px;
  //   left: 0px;
  // }
  // .testimonials-box-active::after {
  //   content: '';
  //   border: solid transparent;
  //   height: 0;
  //   width: 0;
  //   border-width: 12px;
  //   border-top-color: $bg-white;
  //   position: relative;
  //   top: 213px;
  //   left: 0px;
  // }
}

/* VIDEO FEATURES */

#video-features {
  padding: 10rem 0;
  background: $bg-white;
  .bg-gradient {
    @include linear-gradient (180deg, $bg-primary-color, $bg-seconday-color);
    height: 424px;
  }
  h5 {
    @include font-title (1.5rem, $bg-white, 600);
    letter-spacing: .1rem;
  }
  p {
    @include p (1rem, $bg-white, normal);
    font-weight: 300;
    opacity: .5;
  }
}

#subscribe {
  padding-bottom: 5rem;
  text-align: center;
  h1 {
    @include font-title (3rem, $bg-gray, 900);
    margin: 1.5rem 0;
  }
  p {
    @include p (1rem, $bg-gray-light, normal);
  }
  span {
    color: $bg-primary-color;
  }
  input {
    background-color: $bg-gray-border;
    border-radius: 50px;
    padding: 1.2rem 4rem;
    position: relative;
    border: none;
    margin-top: 2.5rem;
  }
  .btn-sub {
    @include button (1rem, linear-gradient(180deg, $bg-primary-color, $bg-seconday-color), $bg-white, 600, 2rem);
    padding: 1.2rem 3rem;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 2.5rem;
    z-index: 9;
  }
  .form-control:focus {
    @include box-shadow (0, .5rem, 2rem, $shadow-color);
  }
  .btn-sub:active,
  .btn-sub:focus {
    outline: none;
    border: none;
  }
}

#download-app {
  padding: 5rem 0;
  text-align: center;
  h1 {
    @include font-title (3rem, $bg-gray, 900);
    margin-bottom: 1.5rem;
  }
  p {
    @include p (1rem, $bg-gray-light, normal);
  }
  span {
    color: $bg-primary-color;
  }
  .app-store {
    margin-top: 3rem;
  }
}

/* RESPONSIVES DEVICES */

@media (max-width: 411px) {
  #welcome {
    height: 950px;
    text-align: center;
    margin-top: -231px;
    h1 {
      @include font-title (3rem, $bg-white, 900);
      margin-top: 231px;
    }
  }
  #simple-messaging {
    margin-top: -150px;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    h1 {
      @include font-title (2rem, $bg-gray, 900);
    }
  }
  #keep-in-touch {
    padding: 2rem 0 1.5rem;
    h1 {
      @include font-title (2rem, $bg-gray, 900);
    }
    img {
      padding-top: 2rem;
    }
  }
  #testimonials {
    h1 {
      @include font-title (2rem, $bg-gray, 900);
      text-align: center;
      padding: 1.5rem 0;
    }
    // .testimonials-box {
    //   padding: 2rem;
    //   margin: 2rem 0 2rem;
    // }
    // .testimonials-box-active {
    //   border: 1px solid #e8e8e8;
    //   padding: 2rem;
    //   margin: 2rem 0;
    //   box-shadow: none;
    // }
    // .testimonials-box-active::before {
    //   top: 12.81rem;
    //   left: 0px;
    //   border-top-color: #e8e8e8;
    // }
    // .testimonials-box-active::after {
    //   top: 4.07rem;
    //   left: -3.55rem;
    // }
    // .testimonials-box::before {
    //   top: 12.81rem;
    //   left: 0px;
    // }
    // .testimonials-box::after {
    //   top: 4.07rem;
    //   left: -6.688rem;
    // }
    // .testimonials-box-two::before {
    //   top: 13.3rem;
    //   left: 0px;
    // }
    // .testimonials-box-two::after {
    //   top: 4.55rem;
    //   left: -4.2rem;
    // }
  }
  #subscribe {
    h1 {
      @include font-title (2rem, $bg-gray, 900);
      margin: 1.5rem 0;
    }
    input {
      padding: 1.2rem 1.2rem;
      margin-top: 2.5rem;
    }
    .btn-sub {
      padding: 1.2rem 1rem;
    }
  }
  #download-app {
    padding: 3rem 0;
    h1 {
      @include font-title (2rem, $bg-gray, 900);
    }
    .app-store {
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 411px) and (min-width: 365px) {
  #video-features {
    padding: 2rem 0;
    .bg-gradient {
      height: 515px;
      padding: 1rem 0
    }
  }
}

/* SMALL DEVICES */

@media (width: 320px) {
  #video-features {
    padding: 2rem 0;
    .bg-gradient {
      height: 635px;
    }
  }
}

/* TABLET's */

@media (width: 768px) {
  #welcome {
    margin-top: -231px;
    h1 {
      margin-top: 231px;
    }
    .thumb-welcome {
      position: absolute;
      right: 0.3rem;
      bottom: 0;
      z-index: 999;
      width: 35%;
    }
  }
  #subscribe {
    input {
      padding: 1.2rem 1.2rem;
      margin-top: 2.5rem;
    }
    .btn-sub {
      padding: 1.2rem 1.2rem;
    }
  }
  // #testimonials {
  //   .testimonials-box-active::after {
  //     top: 4.07rem;
  //     left: -3.55rem;
  //   }
  //   .testimonials-box::before {
  //     top: 14.3rem;
  //     left: 0px;
  //   }
  //   .testimonials-box::after {
  //     top: 4.07rem;
  //     left: -6.688rem;
  //   }
  //   .testimonials-box-two::before {
  //     top: 14.8rem;
  //     left: 0px;
  //   }
  //   .testimonials-box-two::after {
  //     top: 4.55rem;
  //     left: -4.2rem;
  //   }
  // }
}

@media (width: 1024px) {
  #video-features {
    padding: 8rem 0;
    .bg-gradient {
      height: 352px;
      padding: 1rem 0
    }
  }
}
