/* Variables */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
$font-stack: 'Lato' sans-serif,
sans-serif;
$font-sub: 'myriad-pro' sans-serif,
sans-serif;
$bg-primary-color: #d90647;
$bg-seconday-color: #eb402c;
$bg-white: #fff;
$bg-gray: #363636;
$bg-gray-light: #808080;
$bg-gray-border: #e8e8e8;
$shadow-color: rgba(0,
0,
0,
.2);
/* END */

/* MIXIN TITLE */

@mixin font-title ($size,
$color,
$weight) {
  font-family: 'Lato', sans-serif;
  color: $color;
  font-weight: $weight;
  font-size: $size;
}

/* MIXIN P */

@mixin p ($size,
$color,
$font-style) {
  font-family: 'Lato', sans-serif;
  font-size: $size;
  color: $color;
  font-style: $font-style;
}

/* MIXIN BUTTON */

@mixin button ($size,
$bg-color,
$color,
$weight,
$radius) {
  font-size: $size;
  color: $color;
  background: $bg-color;
  font-weight: $weight;
  border-radius: $radius;
}

/* MIXIN BG-GRADIENT */

@mixin linear-gradient ($direction,
$bg-color1,
$bg-color2) {
  @if ($direction)==false {
    $bg-color: $direction, $bg-color1, $bg-color2;
    $direction: 180deg;
  }
  background: linear-gradient($direction,
  $bg-color1,
  $bg-color2);
  -webkit-background: linear-gradient($direction,
  $bg-color1,
  $bg-color2);
}

/* MIXIN BOX-SHADOW */

@mixin box-shadow($top,
$left,
$blur,
$color,
$inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  }
  @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
